html {
  background: #000;
  -webkit-user-select: none;
}

body {
  margin: 0;
  padding: 0;
}


#board {
  margin-top: 50px;
  background: url(/images/board.tile.jpg) repeat;
}

#toolbox {
  position: fixed;
  top: 0; left: 0; right: 0;
  height:   50px;
  background: -moz-linear-gradient(top, #ffffff 0%, #EDEDED 82%, #e5e5e5 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(82%,#EDEDED), color-stop(100%,#e5e5e5)); /* webkit */
  -webkit-box-shadow: 0 3px 2px rgba(120,120,120,0.4);
}

#board,
#canvas,
#output {
  width: 768px;
  height: 690px;
}

#output { display:none; }
